.about {
  position: relative;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;


    &__suptext {
      font-family: SONGER SemiExpanded;
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
      letter-spacing: 20%;
      text-align: left;
      text-transform: uppercase;
      color: $sec-color;
      margin-bottom: 24px;
    }

    &__title {
      text-align: left;
      font-family: Montserrat;
      font-size: 56px;
      font-weight: 700;
      line-height: 110%;
      letter-spacing: 0%;
      text-align: left;
      color: $sec-color;

      @media (max-width: 580px) {
        font-size: 30px;
      }
    }

    &__text {
      margin-top: 24px;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: 0%;
      color: $sec-color;
      max-width: min(80%, 1118px);
    }

    &__img {
      position: absolute;
      top: 50px;
      right: 60px;

      & img {
        animation: up_down 2s infinite linear;
        
      }
    }
}

.color {
  color: $acccent-color;
}

.label__wrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.Label__text {
  width: 148px;
  height: 144px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  backdrop-filter: blur(4px);
  background: rgba(183, 171, 152, 0.1);
  font-family: Unbounded;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  color: rgb(183, 171, 152);
  position: relative;


  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 143px;
    height: 118px;
    border: 1px solid rgb(223, 187, 135);
  }
}


.experience {
background-image: url('./../public/tax.png');
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;

  padding-top: 125px;

  &__title {
    text-align: left;
    font-family: Montserrat;
    font-size: 56px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0%;
    text-align: left;
    color: $sec-color;

    @media (max-width: 580px) {
      font-size: 30px;
    }

    &:nth-child(5) {
      margin-top: 24px;
    }
  }


}

@keyframes up_down {
   0% {
     transform: translate3d(0, -10px, 0);
   }

   50% {
     transform: translate3d(0, 10px, 0);
   }

   100% {
     transform: translate3d(0, -10px, 0);
   }
}